<%- include('partials/header'); -%>

<ul class="games">
  <li class="game">
    <img src="/console.png" alt="game icon">
    <h4>Dota 2</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Vitae magnam labore modi deserunt consectetur impedit nihil similique. 
      Accusantium quaerat iusto dolore consectetur vero sit et nulla ipsum? 
      Fuga, doloribus vero?</p>
  </li>
  <li class="game">
    <img src="/console.png" alt="game icon">
    <h4>PUBG</h4>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
      Et expedita nulla quia vel consectetur exercitationem 
      molestias voluptatibus voluptatum iste error. 
      Nemo voluptatem nulla suscipit rem voluptates, 
      recusandae perferendis consectetur tempore.</p>
  </li>
  <li class="game">
    <img src="/console.png" alt="game icon">
    <h4>CS:GO</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Autem, quas cupiditate officiis repudiandae voluptatum beatae. 
      Excepturi alias id fugiat est dignissimos? 
      Commodi hic est tempore at iste, quaerat repellendus quo?</p>
  </li>
  <li class="game">
    <img src="/console.png" alt="game icon">
    <h4>Fortnite</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Reiciendis ipsam labore doloribus facilis, 
      in recusandae officiis dolorum doloremque, 
      officia tenetur quibusdam nihil eaque alias esse eius? 
      Nihil debitis enim laboriosam?</p>
  </li>
  <li class="game">
    <img src="/console.png" alt="game icon">
    <h4>World of Warcraft</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Eius illo repudiandae necessitatibus magnam nihil id dolore rem iste molestiae, 
      tempora laboriosam aut odio quo iure sed nemo qui est recusandae.</p>
  </li>
  <li class="game">
    <img src="/console.png" alt="game icon">
    <h4>League of Legends</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Architecto perspiciatis nam itaque recusandae aut illo deserunt aspernatur et saepe 
      fugit sit nemo reiciendis, ipsam voluptas magni possimus voluptatibus corporis error!</p>
  </li>
</ul>

<%- include('partials/footer'); -%>