<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/console.png" alt="">
  </div>
  <div class="headings">
    <h2>Games with best prices!</h2>
    <h3>Get them now!</h3>
    <a href="/gamelist" class="btn">View All Games</a>
  </div>
</header>


<%- include('partials/footer'); -%>